<section data-state='topic'>
    <h2>Summary</h2>
</section>

<section>
    <p class='big'>Use whatever makes your life easier.<br/> I recommend <span class='small-caps'>SVG</span> where possible.</p>
</section>

<section data-state='topic'>
    <h2>Thanks!</h2>
    <ul>
        <li>Bulletproof font icons by <a href='http://www.filamentgroup.com/lab/bulletproof_icon_fonts.html'>filament group</a></li>
        <li>SVG Stacks by <a href='http://simurai.com/blog/2012/04/02/svg-stacks/'>simurai</a></li>
        <li>SVG Symbols by <a href='http://css-tricks.com/svg-symbol-good-choice-icons/'>Chris Coyier</a></li>
        <li>Animals by <a href='http://freepik.com'>freepik</a></li>
        <li>Browser logos by <a href='http://marinad.com.ar/free-flat-browser-logotypes/'>marinad</a></li>
        <li class='custom-marker'><span class='fa fa-github-alt'></span> <a href='http://github.com/betravis'>betravis</a></li>
        <li class='custom-marker'><span class='fa fa-twitter'></span> <a href="http://twitter.com/bear_travis">bear_travis</a></li>
        <li class='custom-marker'><span class='fa fa-link'></span> <a href="http://bear.me/icons-web">bear.me/icons-web</a></li>
    </ul>
</section>

<section data-state='topic'>
    <h2>Bonus Reel</h2>
</section>

<section>
    <section><h2>Web Components</h2></section>
    <section>
        <figure>
            <img src="resources/farm-animals.svg#fox" style="margin-top: -15%">
            <pre><code class="html"><!--
                <icon set="animals.svg" name="fox" />
            --></code></pre>
        </figure>
    </section>
</section>

<section>
    <section>
        <h2>Responsive icon design</h2>
        <aside class='notes'>
            * One more problem worth mentioning is that finer details may get lost as a design is scaled down
            * Want to design for size used
        </aside>
    </section>
    <section>
        <figure>
            <img class='plain' src='resources/iconic-responsive.png'>
            <figcaption>Microphone from Iconic</figcaption>
        </figure>
        <aside class='notes'>
            * Here we can see the microphone icon from the set Iconic.
            * They're trying to create general-use icons that look excellent at any size.
            * What you can see them doing is thinking about the amount of detail you can have in an icon at any given size.
            * You probably won't have the time to design all of these, or even use all of these
            * But, it is important to try to understand how your icons will be used. There is a big difference between an icon used at 25, 50, or 100 pixels.
        </aside>
    </section>
</section>
