<section data-state='topic'>
    <h2>What is an Icon?</h2>
    <aside class='notes'>
        * Let's start out by laying some groundwork, what exactly is an icon?
    </aside>
</section>
<section>
    <figure class='flex-ribbon'>
        <img class='plain' src='resources/cursor-icon-set.svg#hand'>
        <!-- http://dailyexhaust.com/2008/09/hand-arrow-icons.html -->
        <p class='big' style='flex:3'>Icons are visual metaphors that help users navigate an interface.</p>
    </figure>
    <aside class='notes'>
        * Let's start with a working definition.
        * Icons are visual representations of an idea, that help users navigate a graphical interface.
        * Paraphrasing the parts I like from Wikipedia
        * If we go back to the first slide, these cursors help the user maintain the map between their physical mouse location and their virtual screen location.
        * A kind of "you are here" idea.
        * Think of them as signposts.
    </aside>
</section>

<section>
    <section>
        <h2>What problems do icons solve?</h2>
        <aside class='notes'>
            * But it might be a little more helpful to talk about what problems icons solve, and how they are useful.
            * We're going to step back into the history-mobile.
            Q: Lead in with the Vannevar Bush Memex?
    </section>
    <section>
        <figure>
            <img class='plain' src='resources/memex.jpg'>
            <figcaption>1945 Vannevar Bush Memex</figcaption>
        </figure>
    </section>
    <section>
        <figure>
            <img class='plain' src='resources/ui-xerox-alto.gif'>
            <figcaption>1973 Xerox PARC Alto</figcaption>
            <!-- http://en.wikipedia.org/wiki/Xerox_Alto -->
        </figure>
        <aside class='notes'>
            * Imagine, if you will, a time when computers for everyday people were just starting to gain traction.
            * One of the first personal-ish computers was the Xerox PARC Alto
            * This is the file browser
            * The Alto was experimenting with more visual approaches to file browsing
            * The mouse was still relatively new
            * But while this may be easier to navigate than a command line, there is still a lot going on
            * A lot of text, and it's tricky to sort all of this information
            * "I want to play a game", "I want to delete a file", "I want to work on that document for work"
        </aside>
    </section>
    <section>
        <figure>
            <img class='plain' src='resources/ui-apple-macintosh.png'>
            <figcaption>1984 Apple Macintosh</figcaption>
            <!-- http://en.wikipedia.org/wiki/Macintosh -->
        </figure>
        <aside class='notes'>
            * If we fast-forward a decade we get the Apple Macintosh
            * What we are seeing here is a trend towards more visual, less textual navigation
            * Things take up more space, but are more readily understood
            * One of the big differences here are visual metaphors, and key among those are the icons
            * You'll see the trash can to help you delete files, folder icons to help navigate and sort information.
        </aside>
    </section>
    <section>
        <figure>
            <img class='plain' src='resources/ios-home.jpg'>
            <img class='plain' src='resources/ios-calling.jpg'>
            <figcaption>2013 iOS 7</figcaption>
        </figure>
        <aside class='notes'>
            * And if we jump forward just a little bit more, we get to modern devices
            * Smaller screens, packing more information
            * One helpful way to sort all of that is to pack it into pictures, often paired with text
            * We can also see how varied their use can be. On the right, we have icons to help navigate options while performing a specific task.
            * On the left, we have icons to provide branding and differentiate between entirely different tasks.
            * We see icons on the top to indicate signal strength, wifi, battery power.
            * Icons are everywhere!
            * Icons work best when they are quickly understood -- you need to have a reason to take up all that visual real estate, especially when you are working with small screens.
            * Context is part of it -- top left tells us signal strength, probably less understandable in a different context
            * Top right tells us battery power
            * Imagine if these were both just percentages, maybe with "Signal" and "Battery Power" instead
            * Same information, but this is packaged in less space and less visually cluttered
            * Smaller screens are also probably part of why we are seeing so many of these
        </aside>
    </section>
</section>

<section>
    <section>
        <p class='big'>Icons can help users navigate an&nbsp;interface</p>
        <aside class='notes'>So to summarize</aside>
    </section>
    <section>
        <p class='big'>but they can be confusing if not readily&nbsp;understood.</p>
        <aside class='notes'>
            * You can always read text and try to puzzle out the exact meaning
            * But if you don't recognize an icon, what fallback do you have?
        </aside>
    </section>
    <section>
        <figure>
            <img class='plain' src='resources/mac-os-8.png'>
            <figcaption>Mac OS 8</figcaption>
            <!-- http://www.guidebookgallery.org/screenshots/macos80 -->
            <aside class='notes'>
                * Icons can wind up adding visual noise rather than helpful signposts
                * Control panels seem to be a pretty good stress test
                * There are a couple things going wrong here
                * First, there's just too much going on.
                * Icons help identify key pieces of information. Everything here is important. So nothing is.
                * But you can also see that they tried to make all of the icons uniform
                * They are all gray squares with little sliders
                * Which makes them even more indistinguishable
                * The only thing these icons establish is a visual rhythm -- you're better off just reading the text
            </aside>
        </figure>
    </section>
</section>

<section>
    <p class='big'>Icons should help guide a user.</p>
</section>
