<section data-state='topic'>
    <h1>Icons and the&nbsp;Web</h1>
    <p>
        <i class='fa fa-github-alt'></i> <a href='http://github.com/betravis'>betravis</a> / <i class='fa fa-twitter'></i> <a href="http://twitter.com/bear_travis">bear_travis</a>
    </p>
    <aside class='notes'>
        * Hello there, I'm Bear Travis
        * You can find me on github, where I've posted the slides
        * Or on twitter, where you can ask any questions you might have
        * Today, I would like to talk to you a little bit about icons, from how they are made, to how they are packaged and then delivered to your screen
    </aside>
</section>

<section data-state='about'>
    <h2>About Me</h2>
    <aside class='notes'>
        * I work on the Web Platform team at Adobe
        * Our job is to help make the web a better creative medium
    </aside>
</section>
